---
import CreatePostButton from '../components/CreatePostButton';
import { BlogPosts } from '@/components/BlogPosts';

import Layout from '@/layouts/Layout.astro';

---

<Layout title='ミニブログ'>
  <main class="container mx-auto">
    <h1 class="text-3xl font-bold mb-8 text-center">ミニブログ</h1>
    <BlogPosts client:load/>
    <CreatePostButton client:load/>
  </main>
</Layout>
